<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Ustadz</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .-z-1 {
            z-index: -1;
        }

        .origin-0 {
            transform-origin: 0%;
        }

        input:focus~label,
        input:not(:placeholder-shown)~label,
        textarea:focus~label,
        textarea:not(:placeholder-shown)~label,
        select:focus~label,
        select:not([value='']):valid~label {
            /* @apply transform; scale-75; -translate-y-6; */
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            --tw-scale-x: 0.75;
            --tw-scale-y: 0.75;
            --tw-translate-y: -1.5rem;
        }

        input:focus~label,
        select:focus~label {
            /* @apply text-black; left-0; */
            --tw-text-opacity: 1;
            color: rgba(0, 0, 0, var(--tw-text-opacity));
            left: 0px;
        }

        .font-family-karla {
            font-family: karla;
        }

        .bg-sidebar {
            background: #3d68ff;
        }

        .cta-btn {
            color: #3d68ff;
        }

        .upgrade-btn {
            background: #1947ee;
        }

        .upgrade-btn:hover {
            background: #0038fd;
        }

        .active-nav-link {
            background: #1947ee;
        }

        .nav-item:hover {
            background: #1947ee;
        }

        .account-link:hover {
            background: #3d68ff;
        }
    </style>
</head>

<body class="work-sans leading-normal text-base tracking-normal">

    <nav id="header" class="w-full z-30 top-0 bg-white border-b-2">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between">
            <div class="flex space-x-4 py-5">

                <!--LOGO-->
                <div class="object-left">
                    <img src="images/logo.png" class="w-24">
                </div>

                <!--NAME-->
                <div class="text-center font-bold font-sans text-yellow-800 mt-2">
                    <a class="text-base">MADRASAH DINIYYAH</a><br>
                    <a class="text-2xl font-bold">NURUL UMMAH</a><br>
                    <a class="text-base tracking-widest">YOGYAKARTA</a>
                </div>
            </div>

            <div class="font-bold text-yellow-600 text-right">
                <a class="text-xl">SISTEM INFORMASI AKADEMIK <br></a>
                <a class="text-base tracking-widest">M D N U</a>
            </div>
        </div>
    </nav>

    <div class="bg-gray-100 font-family-karla flex">

        <aside class="relative h-screen w-64 hidden sm:block">

            <nav class="font-semibold pt-3">

                <div class="text-gray-900">
                    <div class="pt-6 px-6 mb-8">
                        <div class="text-center bg-white rounded-lg shadow-xl">
                            <div class="px-6 py-6">
                                <img src="https://source.unsplash.com/random/350x350" alt="random image"
                                    class="object-center rounded-full">
                            </div>
                            <h4 class="pb-6 text-l font-semibold leading-tight truncate">Hai Admin!</h4>
                        </div>
                    </div>
                </div>

                <div class="group border-indigo-500 hover:bg-blue-600 hover:shadow-lg hover:border-transparent">
                    <a href="data-admin.html" class="text-gray-800 group-hover:text-white flex items-center py-4 pl-6">
                        <i class="fas fa-id-card-alt mr-3"></i>
                        Data Admin
                    </a>
                </div>

                <div class="group border-indigo-500 hover:bg-blue-600 hover:shadow-lg hover:border-transparent">
                    <a href="mapel.html" class="text-gray-800 group-hover:text-white flex items-center py-4 pl-6">
                        <i class="fas fa-book-open mr-3"></i>
                        Mata Pelajaran
                    </a>
                </div>

                <div class="group border-indigo-500 hover:bg-blue-600 hover:shadow-lg hover:border-transparent">
                    <a href="nilai.html" class="text-gray-800 group-hover:text-white flex items-center py-4 pl-6">
                        <i class="fas fa-star-half-alt mr-3"></i>
                        Nilai
                    </a>
                </div>

                <div class="group border-indigo-500 hover:bg-blue-600 hover:shadow-lg hover:border-transparent">
                    <a href="riwayat-nilai.html"
                        class="text-gray-800 group-hover:text-white flex items-center py-4 pl-6">
                        <i class="fas fa-star mr-3"></i>
                        Riwayat Nilai
                    </a>
                </div>

                <div class="group border-indigo-500 hover:bg-blue-600 hover:shadow-lg hover:border-transparent">
                    <a href="ustadz.html" class="text-gray-800 group-hover:text-white flex items-center py-4 pl-6">
                        <i class="fas fa-address-book mr-3"></i>
                        Ustadz
                    </a>
                </div>

                <div class="group border-indigo-500 hover:bg-blue-600 hover:shadow-lg hover:border-transparent">
                    <a href="data-santri.html" class="text-gray-800 group-hover:text-white flex items-center py-4 pl-6">
                        <i class="fas fa-address-book mr-3"></i>
                        Santri
                    </a>
                </div>
            </nav>
            <a href="#"
                class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
                <i class="fas fa-sign-out-alt mr-3"></i>
                Log Out
            </a>
        </aside>

        <div class="w-full flex flex-col h-screen overflow-y-hidden">
            <!-- Mobile Header & Nav -->
            <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
                <div class="flex items-center justify-between">
                    <a href="index.html"
                        class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                    <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                        <i x-show="!isOpen" class="fas fa-bars"></i>
                        <i x-show="isOpen" class="fas fa-times"></i>
                    </button>
                </div>

                <!-- Dropdown Nav -->
                <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
                    <a href="index.html" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                        <i class="fas fa-tachometer-alt mr-3"></i>
                        Dashboard
                    </a>
                    <a href="blank.html"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>
                        Blank Page
                    </a>
                    <a href="nilai.html"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-table mr-3"></i>
                        Tables
                    </a>
                    <a href="forms.html"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-align-left mr-3"></i>
                        Forms
                    </a>
                    <a href="tabs.html"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-tablet-alt mr-3"></i>
                        Tabbed Content
                    </a>
                    <a href="calendar.html"
                        class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-calendar mr-3"></i>
                        Calendar
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-cogs mr-3"></i>
                        Support
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-user mr-3"></i>
                        My Account
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sign-out-alt mr-3"></i>
                        Sign Out
                    </a>
                    <button
                        class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                        <i class="fas fa-arrow-circle-up mr-3"></i> Upgrade to Pro!
                    </button>
                </nav>
            </header>

            <div class="overflow-x-hidden">
                <main class="pt-6 px-6">
                    <h1 class="text-3xl text-black pb-2 mt-2">Data Ustadz</h1>

                    <div class="bg-white rounded-lg shadow-md p-8 my-8">

                        <!-- OPTION -->
                        <div class="flex space-x-4 items-center pb-8">

                            <!--FLEX 1-->
                            <!--SET F-NONE AGAR TERKUNCI DAN SET W U/ PANJANG BOXNYA-->
                            <div class="flex-none w-36">
                                <a class="self-center">Status</a>
                            </div>

                            <!--FLEX 2-->
                            <!--SET F-NONE AGAR TERKUNCI DAN SET W U/ PANJANG BOXNYA-->
                            <div class="flex-none md:w-1/5">
                                <div class="relative">
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-3 flex items-center text-grey-darker">
                                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                        </svg>
                                    </div>
                                    <select
                                        class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded"
                                        id="grid-state">
                                        <option>Aktif</option>
                                        <option>Tidak Aktif</option>
                                        <option>Semua</option>
                                    </select>
                                </div>
                            </div>

                            <!--FLEX 3-->
                            <div class="object-left text-center text-white text-base">
                                <button class="bg-blue-600 hover:bg-blue-800 rounded shadow-lg py-3 px-8" href="#">Lihat
                                    Ustadz</button>
                            </div>

                        </div>

                        <p class="text-xl pt-8 flex items-center border-b-2">
                            Daftar List Ustadz
                        </p>

                        <div class="flex flex-row-reverse object-left text-center text-white text-base py-8">
                            <button class="bg-blue-600 hover:bg-blue-800 rounded shadow-lg py-3 px-8" href="update-santri.html">Input Ustadz</button>
                        </div>

                        <div class="bg-white overflow-auto pb-8">
                            <table class="table-auto bg-white">
                                <thead class="bg-gray-800 text-white">
                                    <tr>
                                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">No</th>
                                        <th class="text-left w-1/5 py-3 px-4 uppercase font-semibold text-sm">NIS</th>
                                        <th class="text-left w-1/5 py-3 px-4 uppercase font-semibold text-sm">Nama</th>
                                        <th class="text-left w-1/5 py-3 px-4 uppercase font-semibold text-sm">Status</th>
                                        <th class="text-left w-1/5 py-3 px-4 uppercase font-semibold text-sm">Username</td>
                                        <th class="text-left w-1/5 py-3 px-4 uppercase font-semibold text-sm">Aksi</td>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-700">
                                    <tr>
                                        <td class="text-left py-3 px-4">1</td>
                                        <td class="text-left py-3 px-4"><a>0001</a></td>
                                        <td class="text-left py-3 px-4"><a>Si John</a></td>
                                        <td class="text-left py-3 px-4">Aktif</td>
                                        <td class="text-left py-3 px-4">xxxx</td>
                                        <td>
                                            <div class="flex py-3 px-4">
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    
                                                </div>
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-200">
                                        <td class="text-left py-3 px-4">2</td>
                                        <td class="text-left py-3 px-4"><a>0002</a></td>
                                        <td class="text-left py-3 px-4"><a>Si John</a></td>
                                        <td class="text-left py-3 px-4">Aktif</td>
                                        <td class="text-left py-3 px-4">xxxx</td>
                                        <td>
                                            <div class="flex py-3 px-4">
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                    </svg>
                                                </div>
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left py-3 px-4">3</td>
                                        <td class="text-left py-3 px-4"><a>0003</a></td>
                                        <td class="text-left py-3 px-4"><a>Si John</a></td>
                                        <td class="text-left py-3 px-4">Aktif</td>
                                        <td class="text-left py-3 px-4">xxxx</td>
                                        <td>
                                            <div class="flex py-3 px-4">
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                    </svg>
                                                </div>
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-200">
                                        <td class="text-left py-3 px-4">4</td>
                                        <td class="text-left py-3 px-4"><a>0004</a></td>
                                        <td class="text-left py-3 px-4"><a>Si John</a></td>
                                        <td class="text-left py-3 px-4">Aktif</td>
                                        <td class="text-left py-3 px-4">xxxx</td>
                                        <td>
                                            <div class="flex py-3 px-4">
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                    </svg>
                                                </div>
                                                <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <!-- FOOTER -->
                    <footer class="container mx-auto bg-white py-8 border-t border-gray-400">
                        <div class="container flex px-6 py-8 ">
                            <div class="w-full mx-auto flex flex-wrap">
                                <div class="text-left flex w-full lg:w-1/2 ">
                                    <div class="px-3 md:px-0">
                                        <h3 class="font-bold text-gray-900">Madrasah Diniyyah Pondok Pesantren Nurul
                                            Ummah Yogyakarta</h3>
                                        <a class="inline-block no-underline hover:text-black hover:underline pt-5"
                                            href="tel:+62 857 2565 5593">Telp. 0857 2565 5593</a><br>
                                        <a class="inline-block no-underline hover:text-black hover:underline"
                                            href="https://web.whatsapp.com/send?phone=6285725655593&text=Assalamualaikum%20Admin">WhatsApp.
                                            0857 2565 5593</a><br>
                                        <a class="inline-block no-underline hover:text-black hover:underline"
                                            href="mailto:admisi.nurma@gmail.com">E-mail. admisi.nurma@gmail.com</a>
                                    </div>
                                </div>
                                <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                                    <div class="px-3 md:px-0">
                                        <h3 class="font-bold text-gray-900">Media Sosial</h3>
                                        <ul class="list-reset items-center pt-3">
                                            <li>
                                                <a class="inline-block no-underline hover:text-black hover:underline py-1"
                                                    href="https://instagram.com/nurulummahyk?igshid=1m74irp80dl0v">Instagram</a>
                                                <a class="inline-block no-underline hover:text-black hover:underline"
                                                    href="https://www.youtube.com/channel/UCYQ8dFPzAkFF0WbS0r-IDaw">YouTube</a>
                                                <a class="inline-block no-underline hover:text-black hover:underline"
                                                    href="https://nurulummah.com/">Website</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
            </div>
        </div>
        </main>
</body>

</html>